/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
}

body {
 background-color: black; 
}

/* STYLE TEXT */
.container{
  position: relative;
  }
.main{
  color: #f6f4e8;
  position: absolute;
  top: 28px;
  left: 16px;
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  margin-left:7%;
}
.sub{
  color: #f6f4e8;
  text-align: center;
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  margin-top:5%;
  
  }
.sub2{
  color: #f6f4e8;
  font-size: 50px;
  font-family: 'Bebas Neue', cursive;
  margin-top:5%;
  margin-left:2%;
  
  }
.sub3{
   color: #f6f4e8;
  text-align: center;
  font-size: 60px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 5px;
  }
  .sub4{
   color: #f6f4e8;
  text-align: center;
  font-size: 40px;
  font-family: 'Patrick Hand', cursive;
  margin-right: 20%;
  margin-left: 20%;
  }
  .sub5{
  color: #f6f4e8;
  text-align: center;
  font-size: 45px;
  font-family: 'Bebas Neue', cursive;
  margin-right: 20%;
  margin-left: 20%;
  }
  .sub6{
    color: #f6f4e8;
    font-size: 40px;
   font-family: 'Bebas Neue', cursive;
   margin-top:5%;
  }

   .sub7{
    color: #f6f4e8;
    font-size: 40px;
   font-family: 'Bebas Neue', cursive;
   margin-top:10%;
  }


#p1{
  color: #f6f4e8;
  position: absolute;
  top: 100px;
  left: 16px;
  margin-top:0%;
  margin-bottom:0%;
  margin-left:0%;
  margin-right:55%;
  font-size: 28px;
  text-align: center;
  font-family:'Patrick Hand', cursive;
}

/*media*/

@media screen and (max-width:1050px){
  #p1{
   font-size:22px;
  }

}
.p2{
  color: black;
  font-size: 20px;
  text-align: center;
  font-family:'Patrick Hand', cursive;
  margin-left:20%;
  margin-right:20%;
  padding: 25px 25px;
  background-color: #bacec1;
  opacity:80%;
}
.p3{
  color: black;
  font-size: 20px;
  margin-right:50%;
  font-family:'Patrick Hand', cursive;
  padding: 25px 25px;
  background-color: #e59560;
  opacity:80%;
}
.p4{
  color: black;
  font-size: 29px;
  font-family:'Patrick Hand', cursive;
  padding: 25px 25px;
  margin-right: 50%;
  background-color: #bacec1;
   border: 5px #f6f4e8;
  opacity:80%;
 
}

.p5{
  color: black;
  font-size: 29px;
  font-family:'Patrick Hand', cursive;
  padding: 25px 25px;
  margin-right: 50%;
  background-color: #e59560;
  opacity:80%;
  border: 2px #f6f4e8;
}

.p6{
  color: black;
  font-size: 29px;
  font-family:'Patrick Hand', cursive;
  padding: 25px 25px;
  margin-right: 50%;
  background-color: #bacec1;
  opacity:80%;
  border: 1px #f6f4e8;
}

.large{
  color: #f6f4e8;
  margin-top:5%;
  font-size: 80px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.suicide{
  color: #f6f4e8;
  font-family:'Patrick Hand', cursive;
  font-size: 45px;
   margin-left:10%;
  margin-right:10%;


  text-align:center;
  border:2px solid#e59560;
}
/* STYLE IMAGES */
.img1{
  width:80em;
  height:30em;
  filter: brightness(60%);
}
.img2{
  width:40%;
  height:40%;
  margin-right:5%;
  border: 3px solid #e59560;
}
.container2{
  display: inline;
}
container3{
  display: flex;
}

.imgR{
  flex: 33.33%;
  width:356px;
  height:200px;
  padding: 25px 25px;
  background-color: #e59560;
  margin-right:.75%;
  margin-left:.75;
  margin-bottom:1%;
  opacity:80%;
  border: 2px solid #f6f4e8;
  
}
.imgRR{
  flex: 33.33%;
  width:356px;
  height:200px;
  padding: 25px 25px;
  background-color: #bacec1;
  margin-right:.75%;
  margin-left:.75;
  opacity:80%;
   border: 2px solid #f6f4e8;
  
}
.row2{
  margin-top:1%;
  display: flex;
 
}
.row3{
  display: flex;
}
.help{
   width:40%;
  height:40%;
  border:5px solid#bacec1;
  border-radius:5px;
  margin-right:5%;
}
.help2{
   width:40%;
  height:480px;
  border:5px solid#bacec1;
  border-radius:5px;
  margin-right:5%;
}

.mediation{
   width:40%;
  height:40%;
  border:5px solid#e59560;
  border-radius:5px;
  margin-right:5%;
}



/* STYLE VIDEO */
.vid {
  margin-top:1%;
  flex: 50%;
  margin-left:7.5%;
 
}
.row1{ 
   display: flex;
}
/* STYLE NAV BAR */
 
  ul{
    list-style-type: none;
    background-color: black;
    overflow: hidden;
    padding: .5em;
    
  }

  li{
    display: inline;
    
  }
  li a{
    text-decoration:none;
    font-size: 1.3em;
    color: #bacec1;
    padding: .5em;
    float:right;
    font-family: 'Bebas Neue', cursive;
  }


li a:hover {
  color: #e59560;
}
  




/* STYLE BUTTONS */
#myButton{
  padding: 7px;
  background-color:#f6f4e8;
  font-size: 25px;
  font-family:'Patrick Hand', cursive;
  border:2px solid #e59560;
  text-align: center;
 
}

.num1{
  margin-left:17.5%;
  padding: 7px;
  background-color:#f6f4e8;
  font-size: 25px;
  font-family:'Patrick Hand', cursive;
  border:2px solid #e59560;
  border-radius: 5px;
}
.num1:hover{
  background-color: #eae4c8;
}

.num2{
  margin-left: 2%;
  margin-top:2%;
  padding: 7px;
  background-color:#f6f4e8;
  font-size: 25px;
  font-family:'Patrick Hand', cursive;
  border:2px solid #e59560;
  border-radius: 5px;
  margin-bottom:5%;
}
.num2:hover{
  background-color: #eae4c8;
}

.btn-group{
  margin-left: 68%;
  float: right;
}

.facts{
  color: black;
  font-size: 20px;
  font-family:'Patrick Hand', cursive;

}
.generator{
  text-align: center;
  margin-top: 10%;
  background-color: #bacec1;
  border-radius: 2px;
  padding: 15px;
  margin-right:25%;
  margin-left:25%;
  border: 5px solid #e59560;
  filter: brightness(85%);
  
}
#head{
  color: #f6f4e8;
  padding: 15px;
  background-color: #e59560;
  font-family: 'Bebas Neue', cursive;
  letter-spacing:1.5px;
}

#main{
  color: black;
  padding: 15px;
  font-size: 20px;
  font-family:'Patrick Hand', cursive;
}

/* ADD MORE! */
.link{
  width:200%;
}

